<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <p class="pk">lkjlk</p>
        {{>header}}
        {{>footer}}
    </body>
</html>